*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    position: relative;
    display: inline-block;
    
}
.menu12{
    height: 26px;
    width: 130px;
    border-style: solid;
    border-radius: 1em/2em;
    color: gray;
    background-color: rgb(204, 202, 202);
   float: left;
}
.menu12 div{
    display: none;
    position: absolute;
    width: 130px;
    z-index: 1;
}
menu12:hover{
    background-color: gray;
}
.menu:hover .menu12:hover{
    display: block;
}
div

}
@media all and (max-width:1000px){
    .menu12{
        float: none;
    }
}