*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.knopka{
    height: 26px;
    width: 130px;
    border-style: solid;
    border-radius: 1em/2em;
    color: gray;
    background-color: rgb(204, 202, 202);
    float: left;
}
.menu {
    position: relative;
    display: inline-block;       
}

.menu12 {
    opacity: 0;
    transition: .5s;
    position: absolute;
    width: 130px;     
    }
.menu12 a{
        display: block;
        text-decoration: none;
        color: gray;
    }
.menu12 a:hover{
    background-color: #ddd;
    
}  
.menu div:hover .menu12 {
    margin-top: 25px;
    position: absolute;
    opacity: 1;
    background-color: rgb(202, 199, 199);
}
.menu:hover .knopka{
    text-decoration: none;
    background-color: rgb(211, 210, 210);
}
.menu div{
    float: left;
}

@media all and (max-width:1000px){
    .menu div{
        float: none;
    }
            
    }
